.service-request-form {
    button {
        width: 100%;
    }
}

.email-notification {
    width: 100%;

    h1 {
        margin-top: 10dvh;
        color: white;
    }

    span {
        text-align: center;
        padding-inline: 2dvw;
    }

    * {
        color: white;
    }
}

.email-confirmation {
    background-color: #00A8E8;
    width: 100dvw;
    height: 100dvh;

    h1 {
        margin-top: 10dvh;
    }

    span {
        text-align: center;
        padding-inline: 50px;
    }

    img {
        margin-top: 40px;
    }

    button {
        margin-top: 40px;
    }

    * {
        color: white !important;
    }
}

.service-request,
.sign-in-container {
    background-color: #00A8E8;
    width: 100dvw;
    height: 100dvh;
}

.branch-selector,
.service-request-form,
.sign-in {
    margin-top: 20dvh;

    button {
        span {
            color: white;
        }
    }

    span {
        color: gray;
        font-weight: bold;
    }
}

.service-request-header,
.sign-in-header {
    display: grid;
    place-items: center;
    padding-top: 10px;
}

.user-data,
.franchises {
    box-shadow: 0 2px 10px 0px lightgray;

}

.user-data {
    p {
        color: gray;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
    }

}

.franchises {
    margin-top: 20px;

    span {
        font-weight: bold;
        color: gray;
    }

    button {
        margin-left: auto;
    }
}

.branch-list {
    padding-block: 20px;
    align-items: start;

    button {
        margin: 0;
    }
}

.branch-item {

    input {
        width: 100%;
    }

    .ant-select {
        width: 100%;
        color: gray;


    }



    .ant-picker-range {
        width: 100%;
    }
}

.ant-select-item-option-content {
    color: gray;
}

.picture-file,
.cover-file {
    .ant-card-body {
        padding: 0 20px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}